.feed_container{ 
    max-width: 1240px;
    margin: 0 auto;
}
.page_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
}

.order_list{
    width: 608px;
    max-height: 852px;
    overflow-y: auto;
}

.history_list {
    width: 844px;
    max-height: 916px;
    overflow-y: auto;
}

.card_wrapper {
    padding: 24px;
    background: #1C1C21;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.info_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    display: flex;
    align-items: center;
}

.ingredients_wrapper{
    width: 345px;
    overflow: hidden;
    height: 68px;
    display: flex;
}
.ingredients_wrapper :first-child {
    z-index: 10;
}
.ingredients_wrapper :nth-child(2) {
    z-index: 9;
}
.ingredients_wrapper :nth-child(3) {
    z-index: 8;
}
.ingredients_wrapper :nth-child(4) {
    z-index: 7;
}
.ingredients_wrapper :nth-child(5) {
    z-index: 6;
}
.ingredients_wrapper :nth-child(6) {
    z-index: 5;
}

.ingredients_opacity{
    opacity: .6;
}

.round {    
    position: relative;
    margin-right: -16px;
    width: 64px;
    height: 64px;
    background: #131316;
    border-radius: 100%;
    border: 2px solid rgba(128, 26, 178, 1); 
}

.round img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.round_modern {    
    position: relative;
    width: 64px;
    height: 64px;
    background: #131316;
    border-radius: 100%;
    border: 2px solid rgba(128, 26, 178, 1); 
}

.round_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 180%;
    height: auto;
}

.summary_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 580px;
}

.summary_block {
    width: 272px;
    height: 236px;
}
.list{    
    height: 206px;
    overflow: hidden;
}

.list_of_ready {
    margin-bottom: 8px;
    color: #00CCCC;
    list-style-type: none;
}


.list_in_progress {
    margin-bottom: 8px;
    list-style-type: none;
}

.num{
    color: #F2F2F3;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.customScroll {
    scrollbar-color: #2F2F37 #8585AD;
    scrollbar-width: thin;
}

.customScroll::-webkit-scrollbar {
    width: 12px;
}

.customScroll::-webkit-scrollbar-track {
    background: #2F2F37;
}

.customScroll::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
}

.link{
    text-decoration: none;
    color: #F2F2F3;
}

.full_page_num {
    margin: 20px auto;
    width: 640px;
    max-height: 620px;
}

.centered_text{
    text-align: center;
}

.full_page_wrapper{
    max-height: 312px;
    overflow-y: auto;
}

.ingr_name{
    width: 70%;
}