.modal_wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 720px;
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    color: #F2F2F3;
}
.header_of_modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
/* .header_of_modal svg{
    text-align: right;
} */

.ingredient_img {
    margin: 0 auto;
    width: 480px;
    height: 240px;
}

.info_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8585AD;
}

.info_item {
    min-width: 112px;
    height: 56px;
    text-align: center;
}

.order_wrapper{
    text-align: center;
}
.order_wrapper .header_of_modal{
    justify-content: flex-end;
}
